<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgileESB.Management.Properties.Settings.ESBDBConnectionString"
            connectionString="Data Source=LT-YONI;Initial Catalog=ESBDB;Integrated Security=True;Persist Security Info=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>